In [33]:
import numpy as np
from pandas import Series, DataFrame
# Series 와 DataFrame을 제외하고 pd로 접근
import pandas as pd

#Series 만들기
good1 = Series([1000, 1500, 500])
print(good1)

0    1000
1    1500
2     500
dtype: int64

In [34]:
#데이터 접근
print(good1[0])  # 1개의 데이터 접근
print(good1[0:2])  # 연속된 범위의 데이터 접근
print(good1[[0, 2]])  # 불연속된 데이터 접근

1000
0    1000
1    1500
dtype: int64
0    1000
2     500
dtype: int64

In [35]:
# 인덱스 설정
good1.index = ['orange', 'Apple', 'Banana']
print(good1)
print(good1['orange': 'Banana'])
#orange 부터 Banana 까지

orange    1000
Apple     1500
Banana     500
dtype: int64
orange    1000
Apple     1500
Banana     500
dtype: int64

In [36]:
good1 = Series([100, 200, 150], index=['1', '2', '3'])
good2 = Series([10, 20, 15], index=['1', '2', '4'])

print(good1 + 200)  # 모든 요소에 200을 더함
print(good1 + good2)    # 인덱스가 동일한 데이터끼리 연산 
# 인덱스가 동일한 데이터끼리 연산
# 1번과 2번은 양쪽에 같이 있어서 더하기
# 3과 4번은 한쪽에만 존재하기 때문에 None

1    300
2    400
3    350
dtype: int64
1    110.0
2    220.0
3      NaN
4      NaN
dtype: float64

In [37]:
# 디셔너리를 생성
items = {
    'name': ['oragne', 'mango','apple', 'banana'], 
    'price': [2000, 2500, 3000, 1500], 
    'manufacture': ['korea', 'taiwan', 'korea', 'vetnum']
    }
#DataFrame을 생성
df = DataFrame(items)

df.index = np.arange(10, 50, 10) #인덱스를 직접 설정
print(df.head(3))   # 3개의 데이터 확인 
print()
print(df.info())  # 개요 확인 

# 숫자(int64)이외의 자료형은 object로 나옴

name  price manufacture
10  oragne   2000       korea
20   mango   2500      taiwan
30   apple   3000       korea

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 10 to 40
Data columns (total 3 columns):
name           4 non-null object
price          4 non-null int64
manufacture    4 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes
None

In [38]:
# sklearn에서 제공하는 boston 주택 가격 데이터 가져오기 
from sklearn import datasets

#boston 데이터 셋을 가져오기 
boston = datasets.load_boston()

# 자료형 확인
print(type(boston))

# 데이터 확인
print(type(boston.keys)) # 키의 자료형 확인 
print(boston.keys())
print(type(boston.data)) #실제 데이터의 자료형 확인 
# DataFrame으로 생성가능한지 확인 -> shape 확인 (2차원이면됨)
print(boston.data.shape) #506행 13열 -> 2차원

df = DataFrame(boston.data)
print(df)

<class 'sklearn.utils.Bunch'>
<class 'builtin_function_or_method'>
dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
<class 'numpy.ndarray'>
(506, 13)
           0     1      2    3      4      5     6       7    8      9    10  \
0    0.00632  18.0   2.31  0.0  0.538  6.575  65.2  4.0900  1.0  296.0  15.3
1    0.02731   0.0   7.07  0.0  0.469  6.421  78.9  4.9671  2.0  242.0  17.8
2    0.02729   0.0   7.07  0.0  0.469  7.185  61.1  4.9671  2.0  242.0  17.8
3    0.03237   0.0   2.18  0.0  0.458  6.998  45.8  6.0622  3.0  222.0  18.7
4    0.06905   0.0   2.18  0.0  0.458  7.147  54.2  6.0622  3.0  222.0  18.7
..       ...   ...    ...  ...    ...    ...   ...     ...  ...    ...   ...
501  0.06263   0.0  11.93  0.0  0.573  6.593  69.1  2.4786  1.0  273.0  21.0
502  0.04527   0.0  11.93  0.0  0.573  6.120  76.7  2.2875  1.0  273.0  21.0
503  0.06076   0.0  11.93  0.0  0.573  6.976  91.0  2.1675  1.0  273.0  21.0
504  0.10959   0.0  11.93  0.0  0.573  6.794  89.3  2.3889  1.0  273.0  21.0
505  0.04741   0.0  11.93  0.0  0.573  6.030  80.8  2.5050  1.0  273.0  21.0

         11    12
0    396.90  4.98
1    396.90  9.14
2    392.83  4.03
3    394.63  2.94
4    396.90  5.33
..      ...   ...
501  391.99  9.67
502  396.90  9.08
503  396.90  5.64
504  393.45  6.48
505  396.90  7.88

[506 rows x 13 columns]

In [39]:
#DataFrame 으로 변환
# 가져온 데이터 셋이 ndarray 인 경우 데이터를 파악하기가 어려울 수있어서
# 컬럼 이름을 부여한 DataFrame으로 가지고 있는것이 데이터 파익이 용이하다.  
# 머신러닝에 적용할 때는 df.values로 다시 ndarray로 만들면 된다.
df = DataFrame(boston.data, 
    columns=['CRIM', 'INDUS', 'NOX', 'RM', 'LSTAT',
            'BLACK', 'PTRATIO', 'ZN', 'CHAS', 'AGE', 
            'RAD', 'DIS', 'TAX'])
print(df)

CRIM  INDUS    NOX   RM  LSTAT  BLACK  PTRATIO      ZN  CHAS    AGE  \
0    0.00632   18.0   2.31  0.0  0.538  6.575     65.2  4.0900   1.0  296.0
1    0.02731    0.0   7.07  0.0  0.469  6.421     78.9  4.9671   2.0  242.0
2    0.02729    0.0   7.07  0.0  0.469  7.185     61.1  4.9671   2.0  242.0
3    0.03237    0.0   2.18  0.0  0.458  6.998     45.8  6.0622   3.0  222.0
4    0.06905    0.0   2.18  0.0  0.458  7.147     54.2  6.0622   3.0  222.0
..       ...    ...    ...  ...    ...    ...      ...     ...   ...    ...
501  0.06263    0.0  11.93  0.0  0.573  6.593     69.1  2.4786   1.0  273.0
502  0.04527    0.0  11.93  0.0  0.573  6.120     76.7  2.2875   1.0  273.0
503  0.06076    0.0  11.93  0.0  0.573  6.976     91.0  2.1675   1.0  273.0
504  0.10959    0.0  11.93  0.0  0.573  6.794     89.3  2.3889   1.0  273.0
505  0.04741    0.0  11.93  0.0  0.573  6.030     80.8  2.5050   1.0  273.0

      RAD     DIS   TAX
0    15.3  396.90  4.98
1    17.8  396.90  9.14
2    17.8  392.83  4.03
3    18.7  394.63  2.94
4    18.7  396.90  5.33
..    ...     ...   ...
501  21.0  391.99  9.67
502  21.0  396.90  9.08
503  21.0  396.90  5.64
504  21.0  393.45  6.48
505  21.0  396.90  7.88

[506 rows x 13 columns]

In [40]:
fwf = pd.read_fwf('../data/data_fwf.txt', 
                    width=(10,2,5), 
                    names=('날짜', '종목이름', '종가'), 
                    encoding='utf-8')
print(fwf)

날짜  종목이름  종가
0  2017-04-10다음32000   NaN NaN
1  2017-04-11다음34000   NaN NaN
2  2017-04-12다음33000   NaN NaN

In [41]:
#item.csv 파일을 읽어서 DataFrame 만들기
item = pd.read_csv('../data/item.csv')
print(item.head())
print(item.info())

code  manufacture            name  price
0     1        korea           apple   1500
1     2        korea      watermelon  15000
2     3        korea  oriental melon   1000
3     4  philippines          banana    500
4     5        korea           lemon   1500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
code           6 non-null int64
manufacture    6 non-null object
name           6 non-null object
price          6 non-null int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes
None

In [42]:
# good.csv 파일을 읽어서 DataFrame 만들기
good = pd.read_csv('../data/good.csv', 
                    header=None, 
                    names=['제품명', '수량','가격'])
print(good.head())
print(good.info())

제품명  수량     가격
0   apple  10   1500
1  banana   5  15000
2   melon   7   1000
3    kiwi  20    500
4   mango  30   1500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
제품명    6 non-null object
수량     6 non-null int64
가격     6 non-null int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes
None

In [43]:
# good.csv 파일의 내용을 2개씩 읽어오기 
goodchunk = pd.read_csv('../data/good.csv', 
                        chunksize=2, 
                        header=None)
for two in goodchunk : 
        print(two)

0   1      2
0   apple  10   1500
1  banana   5  15000
       0   1     2
2  melon   7  1000
3   kiwi  20   500
        0   1     2
4   mango  30  1500
5  orange   4   700

In [44]:
# 문자열이 작은 따옴표로 묶여 있는 경우 
fruits = pd.read_csv('../data/fruit.csv',  
                header=None, 
                sep='|') # sep="|" 구분자를 주고 읽어오기 
print(fruits)

0   1      2
0   apple  10   1500
1  banana   5  15000
2  orange  20    500
3    pear  30   1500
4    kiwi   7   1000
5   mango   4    700

In [45]:
# 줄단위로 읽어서 DataFrame 만들기 (위에방법이 잘안되면)
import csv
lines = list(csv.reader(open('../data/fruit.csv'), delimiter='|'))
print(lines)
fruits = DataFrame(lines, columns=['이름', '수량', '가격'])
print(fruits)

# 파일에 저장
fruits.to_csv(('fruits.csv'), index=None, header=None)

[['apple', '10', '1500'], ['banana', '5', '15000'], ['orange', '20', '500'], ['pear', '30', '1500'], ['kiwi', '7', '1000'], ['mango', '4', '700 ']]
       이름  수량     가격
0   apple  10   1500
1  banana   5  15000
2  orange  20    500
3    pear  30   1500
4    kiwi   7   1000
5   mango   4   700

In [46]:
#엑셀 파일 읽고 쓰기
excel = pd.read_excel('../data/excel.xlsx', sheet_name='Sheet1')
# , encoding='utf-8'
print(excel)
# 엑셀 저장
writer = pd.ExcelWriter('excel2.xlsx')
excel.to_excel(writer, sheet_name='연습')
writer.save()

번호                          이름   1과목   2과목   3과목
0                          1  이효준  40.0   NaN  45.0
1                          2  김성희  42.0  55.0  50.0
2                          3  이연숙   NaN  60.0  55.0
3                          4  노화현  50.0  70.0  60.0
4                          5  최희순  55.0  75.0   NaN
5                          6  정원주  60.0  80.0  70.0

In [47]:
# pandas 의 read_html 함수 도움말
# help(pd.read_html)

li = pd.read_html('https://ko.wikipedia.org/wiki/%EC%9D%B8%EA%B5%AC%EC%88%9C_%EB%82%98%EB%9D%BC_%EB%AA%A9%EB%A1%9D', thousands=',')

# list가 와서 다른 형태로 써야됨
for df in li : 
        print(df.head())
print(li[0])

순위 나라 (및 속령)          인구    기준일자         출처
0   1   중화인민공화국  1420060000  2019.0    공식 인구시계
1   2        인도  1368780000  2019.0    공식 인구시계
2   3        미국   329676200  2019.0    공식 인구시계
3   4     인도네시아   270110500  2019.0  공식 연간 예상치
4   5       브라질   215850000  2019.0    공식 인구시계
  vdeh나라 목록                                        vdeh나라 목록.1
0        지리  면적 해안선 최고 고도 밀집도 해안 면적 비율 위도 최북단 최남단 경도 최동단 최서...
1     인구 통계  인구 (그래프 인구 밀도) 평균 수명 영아 사망률 출생률 출산율 사망률 인간개발지수...
2        경제  국내 총생산: 명목 GDP (일인당) PPP (일인당) (노동 시간 일인당) 과거 ...
3    정치와 사회  정치자유 언론 자유 교육제도 대통령제/의원내각제 선거제도 사형제 동성결혼 낙태 국가...
4        군사        군비지출 병력 모병제/징병제 전시 작전통제권 핵무기 보유 UN 평화유지군 파병
      순위 나라 (및 속령)          인구    기준일자         출처
0      1   중화인민공화국  1420060000  2019.0    공식 인구시계
1      2        인도  1368780000  2019.0    공식 인구시계
2      3        미국   329676200  2019.0    공식 인구시계
3      4     인도네시아   270110500  2019.0  공식 연간 예상치
4      5       브라질   215850000  2019.0    공식 인구시계
..   ...       ...         ...     ...        ...
237  238      토켈라우        1400     NaN        NaN
238  239    세인트헬레나        7729     NaN        NaN
239  240    바티칸 시국         800  2014.0        NaN
240  241    코코스 제도         538     NaN        NaN
241  242    핏케언 제도          50     NaN        NaN

[242 rows x 5 columns]

In [48]:
# json 데이터 읽기 
movies = pd.read_json('http://swiftapi.rubypaper.co.kr:2029/hoppin/movies?version=1&page=1&count=20&genreId=&order=releasedateasc')

# key를 확인해서 list를 찾아라! 
print(movies)
print(movies['hoppin'])
print(movies['hoppin']['movies'])
print(movies['hoppin']['movies']['movie'])

for temp in movies['hoppin']['movies']['movie'] : 
        print(temp['title'])

hoppin
movies      {'movie': []}
totalCount              0
movies        {'movie': []}
totalCount                0
Name: hoppin, dtype: object
{'movie': []}
[]

In [49]:
# # sqllite3 의 데이터 가져오기
# from sqlalchemy import create_engine

# # 연결객체생성
# con = create_engine('sqlite:///Users/jw/python/4.Study/data/sample.db')

# #sql을 샐행해서 DataFrame 만들기
# pl = pd.read_sql('select * from pl', con)
# print(pl)

In [50]:
# # oracle에서 데이터를 가져와서 DataFrame 만들기

# import pandas as pd
# from sqlalchemy import create_engine

# # 연결 객체 생성
# con = create_engine('oracle://user13:user13@211.183.6.60:1251/xe')
# dept = pd.read_sql('selet * from dept', con)

In [51]:
#DataFrame에서의 선택
#item.csv 파일의 데이터 가져오기
#item.csv 파일의 내용을 가져오기
item = pd.read_csv('../data/item.csv')
# 컬럼이름 : code,manufacture,name,price
print(item.head())
item.info()

code  manufacture            name  price
0     1        korea           apple   1500
1     2        korea      watermelon  15000
2     3        korea  oriental melon   1000
3     4  philippines          banana    500
4     5        korea           lemon   1500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
code           6 non-null int64
manufacture    6 non-null object
name           6 non-null object
price          6 non-null int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [52]:
#인덱스 설정
item.index = ['사과', '수박', '참외', '바나나', '레몬', '망고']

print(item['code'])  # 하나의 열 선택
print(item[['name', 'price']])  # 여러개 열 선택

사과     1
수박     2
참외     3
바나나    4
레몬     5
망고     6
Name: code, dtype: int64
               name  price
사과            apple   1500
수박       watermelon  15000
참외   oriental melon   1000
바나나          banana    500
레몬            lemon   1500
망고            mango    700

In [53]:
#행선택
print(item.loc['사과']) # 인덱스로 접근
print(item.iloc[[2, 4]])     # 행의 위치로 접근

print(item.loc['사과':'망고'])  #인덱스로 접근
print(item.iloc[0:5])   #행의 위치로 접근

code               1
manufacture    korea
name           apple
price           1500
Name: 사과, dtype: object
    code manufacture            name  price
참외     3       korea  oriental melon   1000
레몬     5       korea           lemon   1500
     code  manufacture            name  price
사과      1        korea           apple   1500
수박      2        korea      watermelon  15000
참외      3        korea  oriental melon   1000
바나나     4  philippines          banana    500
레몬      5        korea           lemon   1500
망고      6        korea           mango    700
     code  manufacture            name  price
사과      1        korea           apple   1500
수박      2        korea      watermelon  15000
참외      3        korea  oriental melon   1000
바나나     4  philippines          banana    500
레몬      5        korea           lemon   1500

In [54]:
#price가 1000 이상인 데이터만 추출
print(item[item['price'] >= 1000])
#price가 1000이나 1500인 데이터
print(item[item['price'].isin([1000,1500])])

code manufacture            name  price
사과     1       korea           apple   1500
수박     2       korea      watermelon  15000
참외     3       korea  oriental melon   1000
레몬     5       korea           lemon   1500
    code manufacture            name  price
사과     1       korea           apple   1500
참외     3       korea  oriental melon   1000
레몬     5       korea           lemon   1500

In [55]:
#데이터 탐색 함수 
df = pd.read_csv("../data/auto-mpg.csv")
print(df.head())

mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [56]:
# 기술통계 정보 
print(df.describe())   # 숫자 데이터의 통계
print(df.describe(include='all')) #문자 포함

# 카테고리 형태의 데이터의 분포 확인
print(df['origin'].value_counts())

mpg         cyl       displ          hp       weight  \
count  392.000000  392.000000  392.000000  392.000000   392.000000
mean    23.445918    5.471939  194.411990  104.469388  2977.584184
std      7.805007    1.705783  104.644004   38.491160   849.402560
min      9.000000    3.000000   68.000000   46.000000  1613.000000
25%     17.000000    4.000000  105.000000   75.000000  2225.250000
50%     22.750000    4.000000  151.000000   93.500000  2803.500000
75%     29.000000    8.000000  275.750000  126.000000  3614.750000
max     46.600000    8.000000  455.000000  230.000000  5140.000000

            accel          yr      origin
count  392.000000  392.000000  392.000000
mean    15.541327   75.979592    1.576531
std      2.758864    3.683737    0.805518
min      8.000000   70.000000    1.000000
25%     13.775000   73.000000    1.000000
50%     15.500000   76.000000    1.000000
75%     17.025000   79.000000    2.000000
max     24.800000   82.000000    3.000000
               mpg         cyl       displ          hp       weight  \
count   392.000000  392.000000  392.000000  392.000000   392.000000
unique         NaN         NaN         NaN         NaN          NaN
top            NaN         NaN         NaN         NaN          NaN
freq           NaN         NaN         NaN         NaN          NaN
mean     23.445918    5.471939  194.411990  104.469388  2977.584184
std       7.805007    1.705783  104.644004   38.491160   849.402560
min       9.000000    3.000000   68.000000   46.000000  1613.000000
25%      17.000000    4.000000  105.000000   75.000000  2225.250000
50%      22.750000    4.000000  151.000000   93.500000  2803.500000
75%      29.000000    8.000000  275.750000  126.000000  3614.750000
max      46.600000    8.000000  455.000000  230.000000  5140.000000

             accel          yr      origin            name
count   392.000000  392.000000  392.000000             392
unique         NaN         NaN         NaN             301
top            NaN         NaN         NaN  toyota corolla
freq           NaN         NaN         NaN               5
mean     15.541327   75.979592    1.576531             NaN
std       2.758864    3.683737    0.805518             NaN
min       8.000000   70.000000    1.000000             NaN
25%      13.775000   73.000000    1.000000             NaN
50%      15.500000   76.000000    1.000000             NaN
75%      17.025000   79.000000    2.000000             NaN
max      24.800000   82.000000    3.000000             NaN
1    245
3     79
2     68
Name: origin, dtype: int64

In [57]:
#cyl 컬럼의 평균
print(df['cyl'].mean())

5.471938775510204

In [58]:
stock = pd.DataFrame({'다음':[1000, 1020, 1940]})
print(stock['다음'].diff())   # 각 행의 차이 
print(stock['다음'].pct_change()) # 각행의 차이의 비율

0      NaN
1     20.0
2    920.0
Name: 다음, dtype: float64
0         NaN
1    0.020000
2    0.901961
Name: 다음, dtype: float64

In [59]:
#데이터 탐색 함수 
df = pd.read_csv("../data/auto-mpg.csv")
print(df.head())
#weight 와 mpg 의 상관계수 
# 둘다 음수가 나왔고 0.6 이상이므로 음의 상관관계 
print(df['weight'].corr(df['mpg']))
print(df['hp'].corr(df['mpg']))

mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino
-0.8322442148315753
-0.7784267838977759

In [60]:
# Series의 정렬 
print(df['hp'])
print(df['hp'].sort_values()) # 오름차순 정렬
print(df['hp'].sort_values(ascending=False)) # 내림차순 정렬

0      130
1      165
2      150
3      150
4      140
      ...
387     86
388     52
389     84
390     79
391     82
Name: hp, Length: 392, dtype: int64
19      46
101     46
324     48
323     48
242     48
      ...
6      220
8      225
94     225
13     225
115    230
Name: hp, Length: 392, dtype: int64
115    230
13     225
94     225
8      225
6      220
      ...
242     48
323     48
324     48
101     46
19      46
Name: hp, Length: 392, dtype: int64

In [61]:
# DataFrame 정렬
# hp의 오름차순 그리고 값이 같으면 cyl의 오름차순 정렬 
print(df.sort_values(by=['hp','cyl']))

mpg  cyl  displ   hp  weight  accel  yr  origin  \
19   26.0    4   97.0   46    1835   20.5  70       2
101  26.0    4   97.0   46    1950   21.0  73       2
242  43.1    4   90.0   48    1985   21.5  78       2
323  44.3    4   90.0   48    2085   21.7  80       2
324  43.4    4   90.0   48    2335   23.7  80       2
..    ...  ...    ...  ...     ...    ...  ..     ...
6    14.0    8  454.0  220    4354    9.0  70       1
8    14.0    8  455.0  225    4425   10.0  70       1
13   14.0    8  455.0  225    3086   10.0  70       1
94   12.0    8  455.0  225    4951   11.0  73       1
115  16.0    8  400.0  230    4278    9.5  73       1

                                name
19      volkswagen 1131 deluxe sedan
101          volkswagen super beetle
242  volkswagen rabbit custom diesel
323             vw rabbit c (diesel)
324               vw dasher (diesel)
..                               ...
6                   chevrolet impala
8                   pontiac catalina
13           buick estate wagon (sw)
94          buick electra 225 custom
115               pontiac grand prix

[392 rows x 9 columns]

In [62]:
item = pd.read_csv("../data/item.csv")
print(item)

#순위 출력
print(item.rank())
print(item.rank(method='min'))
print(item['code'].rank(method='min'))

code  manufacture            name  price
0     1        korea           apple   1500
1     2        korea      watermelon  15000
2     3        korea  oriental melon   1000
3     4  philippines          banana    500
4     5        korea           lemon   1500
5     6        korea           mango    700
   code  manufacture  name  price
0   1.0          3.0   1.0    4.5
1   2.0          3.0   6.0    6.0
2   3.0          3.0   5.0    3.0
3   4.0          6.0   2.0    1.0
4   5.0          3.0   3.0    4.5
5   6.0          3.0   4.0    2.0
   code  manufacture  name  price
0   1.0          1.0   1.0    4.0
1   2.0          1.0   6.0    6.0
2   3.0          1.0   5.0    3.0
3   4.0          6.0   2.0    1.0
4   5.0          1.0   3.0    4.0
5   6.0          1.0   4.0    2.0
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
Name: code, dtype: float64

In [63]:
# 컬럼이름 변경
# inplace 옵션을 이용하면 호출한 원본에 적용 가능 
item.rename(columns={'code':'코드'}, inplace=True)
print(item)

코드  manufacture            name  price
0   1        korea           apple   1500
1   2        korea      watermelon  15000
2   3        korea  oriental melon   1000
3   4  philippines          banana    500
4   5        korea           lemon   1500
5   6        korea           mango    700

In [64]:
#코드를 index로 설정 - 데이터에서는 제거 
item.set_index('코드', inplace = True)
print(item)

manufacture            name  price
코드
1         korea           apple   1500
2         korea      watermelon  15000
3         korea  oriental melon   1000
4   philippines          banana    500
5         korea           lemon   1500
6         korea           mango    700