In [10]:
# 수치연산과 선형대수 , ndarray 자료구조를 가진 패키지
import numpy as np 
# Series와 Dataframe 자료구조를 가진 패키지
import pandas as pd 
# 샘플 데이터와 시각화를 위한 패키지 
import seaborn as sns

In [11]:
titanic = sns.load_dataset('titanic')
print(titanic['embarked'][820:830])

820      S
821      S
822      S
823      S
824      S
825      Q
826      S
827      C
828      Q
829    NaN
Name: embarked, dtype: object

In [12]:
# 직접 NaN 값을 다른 값으로 대체 - 앞의 데이터로 채움
# 표 형태의 데이터를 가져온 경우 셀 병합이 된 경우에 사용 
titanic['embarked'].fillna(method='ffill', inplace=True)
print(titanic['embarked'][820:830])

820    S
821    S
822    S
823    S
824    S
825    Q
826    S
827    C
828    Q
829    Q
Name: embarked, dtype: object

In [13]:
# 사이킷 런을 이용해서 결측치 채우기
features = np.array([[100],[200],[300],[500],[40],[np.NaN]])

# 중간값으로 채우는 imputer 생성 
from sklearn.impute import SimpleImputer
imputers = SimpleImputer(strategy='median') # 중앙값을 NaN에 채움 

features_imputed = imputers.fit_transform(features)
print(features_imputed)

[[100.]
 [200.]
 [300.]
 [500.]
 [ 40.]
 [200.]]

In [14]:
# KNN(분류) 알고리즘을 이용한 결측치 채우기
# fancyimpute 설치하고 실행 
# KNN을 사용하지 않고 다른 머신러닝을 분류 알고리즘을 사용해도 된다. 
from fancyimpute import KNN
features = np.array([[200, 300], [300, 500], [400,410],[205, np.NaN]])
features_imputed = KNN(k=5, verbose=0).fit_transform(features)
print(features_imputed)##

[[200.         300.        ]
 [300.         500.        ]
 [400.         410.        ]
 [205.         300.62419767]]