In [1]:
import seaborn as sns 
import numpy as np 
import pandas as pd 

# seaborn 패키지에 존재하는 titanic 데이터 가져오기
# 인터넷에서 가져오기 때문에 인터넷 안되면 안됨.
# seaborn 패키지 : 샘플 데이터 셋과 matplotlib보다 시각적인 효과가 뛰어난 그래프를 만들어주는 패키지 
# numpy, pandas, matplotlib, seaborn, sklearn(전처리 preprocessing, 머신러닝)

titanic = sns.load_dataset('titanic')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [2]:
# 2개의 컬럼을 추출해서 새로운 DataFrame 만들기
# age, fare 
df = titanic[['age', 'fare']]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
age     714 non-null float64
fare    891 non-null float64
dtypes: float64(2)
memory usage: 14.0 KB
None

In [3]:
# 행 전체의 age와 fare 열 가져오기 
df = titanic.loc[:, ['age', 'fare']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
age     714 non-null float64
fare    891 non-null float64
dtypes: float64(2)
memory usage: 14.0 KB

In [4]:
def add_10(x) : 
    return x+10

# 데이터 프레임에 함수 적용 - 열 단위로 적용 
result = df.apply(add_10)

print(result.head())
print(result.info())

age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
age     714 non-null float64
fare    891 non-null float64
dtypes: float64(2)
memory usage: 14.0 KB
None