In [1]:
import pandas as pd 
# 중복 데이터 처리 
df = pd.DataFrame([['차범근', '크루이프','차범근'],['대한민국','네덜란드','대한민국']])
df =df.T
print(df)

0     1
0   차범근  대한민국
1  크루이프  네덜란드
2   차범근  대한민국

In [2]:
# 중복된 데이터 확인 
print(df.duplicated())

0    False
1    False
2     True
dtype: bool

In [3]:
# 중복된 데이터 제거 
df.drop_duplicates(inplace=True)
print(df)

0     1
0   차범근  대한민국
1  크루이프  네덜란드