In [2]:
import pandas as pd 

# stock price.xlsx 파일과 stock valuation.xlsx 파일 읽기
price = pd.read_excel('/Users/jw/python/4.Study/data/stock price.xlsx')
valuation = pd.read_excel('/Users/jw/python/4.Study/data/stock valuation.xlsx')

print(price.info())
print(valuation.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
id            10 non-null int64
stock_name    10 non-null object
value         10 non-null float64
price         10 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 448.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
id      10 non-null int64
name    10 non-null object
eps     10 non-null float64
bps     10 non-null int64
per     10 non-null float64
pbr     10 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 608.0+ bytes
None

In [6]:
# 2개의 Dataframe을 id를 기준으로 합치기 
merge_inner = pd.merge(price, valuation)
print(merge_inner.info()) 
# 결과물을 보니 데이터가 5개로 줄어들었다.
# 양쪽 모두에 존재하는 데이터만 합치기 - Inner join 이라고한다.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 9 columns):
id            5 non-null int64
stock_name    5 non-null object
value         5 non-null float64
price         5 non-null int64
name          5 non-null object
eps           5 non-null float64
bps           5 non-null int64
per           5 non-null float64
pbr           5 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 400.0+ bytes
None

In [9]:
# Outer join - 어느 한쪽에만 존재하는 데이터도 join에 참여 
merge_outer = pd.merge(price, valuation, how='outer', on='id')
print(merge_outer.info())
print(merge_outer)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 9 columns):
id            15 non-null int64
stock_name    10 non-null object
value         10 non-null float64
price         10 non-null float64
name          10 non-null object
eps           10 non-null float64
bps           10 non-null float64
per           10 non-null float64
pbr           10 non-null float64
dtypes: float64(6), int64(1), object(2)
memory usage: 1.2+ KB
None
        id stock_name          value     price       name           eps  \
0   128940       한미약품   59385.666667  421000.0        NaN           NaN
1   130960     CJ E&M   58540.666667   98900.0     CJ E&M   6301.333333
2   138250      엔에스쇼핑   14558.666667   13200.0        NaN           NaN
3   139480        이마트  239230.833333  254500.0        이마트  18268.166667
4   142280     녹십자엠에스     468.833333   10200.0        NaN           NaN
5   145990        삼양사   82750.000000   82000.0        삼양사   5741.000000
6   185750        종근당   40293.666667  100500.0        종근당   3990.333333
7   192400      쿠쿠홀딩스  179204.666667  177500.0        NaN           NaN
8   199800         툴젠   -2514.333333  115400.0        NaN           NaN
9   204210     모두투어리츠    3093.333333    3475.0     모두투어리츠     85.166667
10  136480        NaN            NaN       NaN         하림    274.166667
11  138040        NaN            NaN       NaN    메리츠금융지주   2122.333333
12  161390        NaN            NaN       NaN      한국타이어   5648.500000
13  181710        NaN            NaN       NaN  NHN엔터테인먼트   2110.166667
14  207940        NaN            NaN       NaN   삼성바이오로직스   4644.166667

         bps        per       pbr
0        NaN        NaN       NaN
1    54068.0  15.695091  1.829178
2        NaN        NaN       NaN
3   295780.0  13.931338  0.860437
4        NaN        NaN       NaN
5   108090.0  14.283226  0.758627
6    40684.0  25.185866  2.470259
7        NaN        NaN       NaN
8        NaN        NaN       NaN
9     5335.0  40.802348  0.651359
10    3551.0  11.489362  0.887074
11   14894.0   6.313806  0.899691
12   51341.0   7.453306  0.820007
13   78434.0  30.755864  0.827447
14   60099.0  89.790059  6.938551