In [1]:
# 수치연산과 선형대수 , ndarray 자료구조를 가진 패키지
import numpy as np 
# Series와 Dataframe 자료구조를 가진 패키지
import pandas as pd 
# 샘플 데이터와 시각화를 위한 패키지 
import seaborn as sns

In [2]:
#titanic 데이터 가져오고 데이터형태 보기 
titanic = sns.load_dataset('titanic')
print(titanic.head())
print()
print(titanic.info())
# object = string 문자열
# int64 = 정수
# category = 범주형(라디오버튼, 남여 등)
# info() 는 print 빼고 해도됨. None <- 나오는 이유

survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [4]:
# NaN이 존재하는 지 확인
# titanic에서 앞 쪽 10개의 데이터가 NaN을 포함하는지 확인 
print(titanic.head(10).isnull())

survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0     False   False  False  False  False  False  False     False  False
1     False   False  False  False  False  False  False     False  False
2     False   False  False  False  False  False  False     False  False
3     False   False  False  False  False  False  False     False  False
4     False   False  False  False  False  False  False     False  False
5     False   False  False   True  False  False  False     False  False
6     False   False  False  False  False  False  False     False  False
7     False   False  False  False  False  False  False     False  False
8     False   False  False  False  False  False  False     False  False
9     False   False  False  False  False  False  False     False  False

     who  adult_male   deck  embark_town  alive  alone
0  False       False   True        False  False  False
1  False       False  False        False  False  False
2  False       False   True        False  False  False
3  False       False  False        False  False  False
4  False       False   True        False  False  False
5  False       False   True        False  False  False
6  False       False  False        False  False  False
7  False       False   True        False  False  False
8  False       False   True        False  False  False
9  False       False   True        False  False  False

In [3]:
#titanic에서 NaN을 포함한 행의 개수를 파악 
# Ture 는 1, False 는 0 
print(titanic.isnull().sum(axis=0))

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# NaN이 300개 이상인 열을 제거 
# NaN이 너무 많아서 제거 ( columns 수가 14개로 1개 줄어들었음, deck )
titanic.dropna(thresh=300, axis=1, inplace=True)
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB
None

In [6]:
# age 열의 값이 NaN 인 행을 제거 - 아주 많지 않으면 행을 제거 
titanic.dropna(subset=['age'], how='any', axis=0, inplace=True)
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 14 columns):
survived       714 non-null int64
pclass         714 non-null int64
sex            714 non-null object
age            714 non-null float64
sibsp          714 non-null int64
parch          714 non-null int64
fare           714 non-null float64
embarked       712 non-null object
class          714 non-null category
who            714 non-null object
adult_male     714 non-null bool
embark_town    712 non-null object
alive          714 non-null object
alone          714 non-null bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 69.1+ KB
None