In [1]:
import pandas as pd
import numpy as np 

df = pd.read_csv('../data/stock-data.csv')
print(df)

Date  Close  Start   High    Low  Volume
0   2018-07-02  10100  10850  10900  10000  137977
1   2018-06-29  10700  10550  10900   9990  170253
2   2018-06-28  10400  10900  10950  10150  155769
3   2018-06-27  10900  10800  11050  10500  133548
4   2018-06-26  10800  10900  11000  10700   63039
5   2018-06-25  11150  11400  11450  11000   55519
6   2018-06-22  11300  11250  11450  10750  134805
7   2018-06-21  11200  11350  11750  11200  133002
8   2018-06-20  11550  11200  11600  10900  308596
9   2018-06-19  11300  11850  11950  11300  180656
10  2018-06-18  12000  13400  13400  12000  309787
11  2018-06-15  13400  13600  13600  12900  201376
12  2018-06-14  13450  13200  13700  13150  347451
13  2018-06-12  13200  12200  13300  12050  558148
14  2018-06-11  11950  12000  12250  11950   62293
15  2018-06-08  11950  11950  12200  11800   59258
16  2018-06-07  11950  12200  12300  11900   49088
17  2018-06-05  12150  11800  12250  11800   42485
18  2018-06-04  11900  11900  12200  11700   25171
19  2018-06-01  11900  11800  12100  11750   32062

In [2]:
# 자료형 확인
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
Date      20 non-null object
Close     20 non-null int64
Start     20 non-null int64
High      20 non-null int64
Low       20 non-null int64
Volume    20 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [3]:
# Date 컬럼의 값을 시계열로 변경해서 추가 
df['newDate'] = pd.to_datetime(df['Date'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
Date       20 non-null object
Close      20 non-null int64
Start      20 non-null int64
High       20 non-null int64
Low        20 non-null int64
Volume     20 non-null int64
newDate    20 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB
None

In [4]:
# 위와 같은 데이터프레임에서는
# 날짜를 index로 설정하는 경우가 많다
df.set_index('newDate', inplace=True)
print(df.head())
df.drop('Date', axis=1, inplace=True)
print(df.head())

Date  Close  Start   High    Low  Volume
newDate
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039
            Close  Start   High    Low  Volume
newDate
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039