In [1]:
import pandas as pd 
df = pd.read_csv('../data/auto-mpg.csv', header=None)
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
print(df.head())
print(df.info())

mpg cylinders displacement horsepower  weight acceleration model year  \
0  mpg       cyl        displ         hp  weight        accel         yr
1   18         8          307        130    3504           12         70
2   15         8          350        165    3693         11.5         70
3   18         8          318        150    3436           11         70
4   16         8          304        150    3433           12         70

   origin                       name
0  origin                       name
1       1  chevrolet chevelle malibu
2       1          buick skylark 320
3       1         plymouth satellite
4       1              amc rebel sst
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 9 columns):
mpg             393 non-null object
cylinders       393 non-null object
displacement    393 non-null object
horsepower      393 non-null object
weight          393 non-null object
acceleration    393 non-null object
model year      393 non-null object
origin          393 non-null object
name            393 non-null object
dtypes: object(9)
memory usage: 27.8+ KB
None

In [4]:
# origin의 경우는 생산국가
# 1이면 미국, 2이면 유렵, 3이면 일본 
# 현재 데이터는 1, 2, 3 숫자형태로 존재
# origin 데이터를 문자열로 치환하고 자료형을 category로 변환
# 자료형 변환은 astype('자료형')으로 가능 

# origin이 값들을 문자열로 치환 
df['origin'].replace({1:'미국', 2:'유럽', 3:'일본'}, inplace=True)
print(df.head())
print(df['origin'].dtype)

mpg cylinders displacement horsepower  weight acceleration model year  \
0  mpg       cyl        displ         hp  weight        accel         yr
1   18         8          307        130    3504           12         70
2   15         8          350        165    3693         11.5         70
3   18         8          318        150    3436           11         70
4   16         8          304        150    3433           12         70

   origin                       name
0  origin                       name
1       1  chevrolet chevelle malibu
2       1          buick skylark 320
3       1         plymouth satellite
4       1              amc rebel sst
category

In [3]:
# 데이터를 범주형으로 변환 
df['origin'] = df['origin'].astype('category')
print(df['origin'].dtypes)

category

In [2]:
# 문자열로 변환  
df['origin'] = df['origin'].astype('str')   # int, float 대입 가능함.
print(df['origin'].dtypes)

object